
img {
    height: 200px;
    width: 100%;
}
.mt {
    margin: 10px;
}
.mr {
    margin: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.btn {
    background-color:  #ffd700;
    padding: 4px;
    color: black;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    font-weight: 700;
}
.price {
    font-weight: 700;
    color: black;
}
.tprice {
    color: grey;
    text-decoration: line-through;
    font-size: 14px;
}
.discount {
    color: green;
    font-weight: 700;
}
.sort {
    font-weight: 900;
    font-size: larger;
    text-align: center;
}
.bold {
    font-weight: bold;
}
.pointer {
    cursor: pointer;
}