/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.css";


body {
    background-color: lightgray;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 65%;
    font-weight: 700;
    line-height: 1;
    background-color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 50%;
}